{% extends 'base.html.twig' %}

{% block title %}New TProductes{% endblock %}

{% block body %}
    <h1>Create new TProductes</h1>

    {{ include('t_productes/_form.html.twig') }}

    <a href="{{ path('t_productes_index') }}">back to list</a>
{% endblock %}
