<form method="post" action="{{ path('t_grup_producte_delete', {'idGrupproducte': t_grup_producte.idGrupproducte}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_grup_producte.idGrupproducte) }}">
    <button class="btn">Delete</button>
</form>
