<form method="post" action="{{ path('t_precios_cantidad_delete', {'id': t_precios_cantidad.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_precios_cantidad.id) }}">
    <button class="btn">Delete</button>
</form>
