{% extends 'base.html.twig' %}

{% block title %}New TComercials{% endblock %}

{% block body %}
    <h1>Create new TComercials</h1>

    {{ include('t_comercials/_form.html.twig') }}

    <a href="{{ path('t_comercials_index') }}">back to list</a>
{% endblock %}
