<form method="post" action="{{ path('t_ordre_treball_delete', {'idOrdre': t_ordre_treball.idOrdre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_ordre_treball.idOrdre) }}">
    <button class="btn">Delete</button>
</form>
