<div class="row">
    <div class="">
    <label for="t_fraproforma_tFraproformaPlazos_#V#_descripprodFraprofPlazo">Decripcio: </label>
    </div>
    <div class="col">
      <input type="text" id="t_fraproforma_tFraproformaPlazos_#V#_descripprodFraprofPlazo" name="t_fraproforma[tFraproformaPlazos][#V#][descripprodFraprofPlazo]" class="form-control" value="- ESTÁNDAR : 12 días. Según productos hasta 10.000 unidades">
    </div>
    
  </div>