<div class='row'>
    <div class="">
    {{form_label(tFraproformaPlazo.descripprodFraprofPlazo)}}
    </div>
    <div class='col'>
      {{form_widget(tFraproformaPlazo.descripprodFraprofPlazo)}}
    </div>
    
  </div>