<form method="post" action="{{ path('t_factura_vto_delete', {'idFacturaVto': t_factura_vto.idFacturaVto}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_factura_vto.idFacturaVto) }}">
    <button class="btn">Delete</button>
</form>
