{% extends 'base.html.twig' %}

{% block title %}Edit TFraproforma{% endblock %}

{% block body %}
    <h1>Edit TFraproforma</h1>

    {{ include('t_fraproforma/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_fraproforma_index') }}">back to list</a>

    {{ include('t_fraproforma/_delete_form.html.twig') }}
{% endblock %}
