  <div class="form-row">
    <div class="form-group col">
      <input type="number" id="t_fraproforma_tFraproformaAuxes_#V#_numLinia" name="t_fraproforma[tFraproformaAuxes][#V#][numLinia]" class="form-control">
    </div>
    <div class="form-group col-md-4">
    <select class="selectorProducte"></select>
    </div>
    <div class="form-group col-md-4">
      <input type="text" id="t_fraproforma_tFraproformaAuxes_#V#_descripprodProforma" name="t_fraproforma[tFraproformaAuxes][#V#][descripprodProforma]" required="required" class="form-control">
    </div>
    <div class="form-group col">
      <input type="text" id="t_fraproforma_tFraproformaAuxes_#V#_numunitProforma" name="t_fraproforma[tFraproformaAuxes][#V#][numunitProforma]" class="form-control">
    </div>
    <div class="form-group col">
      <input type="text" id="t_fraproforma_tFraproformaAuxes_#V#_preuunitProforma" name="t_fraproforma[tFraproformaAuxes][#V#][preuunitProforma]" class="form-control">
    </div>
    <div class="form-group col">
      <input type="text" id="t_fraproforma_tFraproformaAuxes_#V#_preuProforma" name="t_fraproforma[tFraproformaAuxes][#V#][preuProforma]" class="form-control">
    </div>
  </div>