{% extends 'base.html.twig' %}

{% block title %}Edit TClients{% endblock %}

{% block body %}
    <h1>Edit TClients</h1>

    {{ include('t_clients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_clients_index') }}">back to list</a>

    {{ include('t_clients/_delete_form.html.twig') }}
{% endblock %}
