{% extends 'base.html.twig' %}

{% block title %}New TFacturaProvVto{% endblock %}

{% block body %}
    <h1>Create new TFacturaProvVto</h1>

    {{ include('t_factura_prov_vto/_form.html.twig') }}

    <a href="{{ path('t_factura_prov_vto_index') }}">back to list</a>
{% endblock %}
