{% extends 'base.html.twig' %}

{% block title %}Edit TFactura{% endblock %}

{% block body %}
    <h1>Edit TFactura</h1>

    {{ include('t_factura/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_factura_index') }}">back to list</a>

    {{ include('t_factura/_delete_form.html.twig') }}
{% endblock %}
